<div layout="row" layout-fill>
  <!--Config navigation-->
  <md-button class="md-icon-button" aria-label="Open Menu"
    ng-click="$ctrl.toggleMenu($event)" hide-gt-sm>
    <md-icon md-font-icon="fa fa-bars"></md-icon>
  </md-button>
  <md-sidenav
    class="md-sidenav-left bg-300"
    md-component-id="menu"
    md-is-locked-open="$mdMedia('gt-sm')"
    md-disable-backdrop
    md-whiteframe="4">
    <md-toolbar class="primary400">
      <h1 class="md-toolbar-tools thin">Settings</h1>
    </md-toolbar>
    <md-list>
      <md-list-item
        ng-repeat="item in $ctrl.menuItems"
        ng-click="$ctrl.goTo(item.state)"
        ng-class="{ active: (item.state | isState) }">
        <ng-md-icon icon="{{item.icon}}" class="fill-white"></ng-md-icon>
        <p class="inset thin">{{item.title}}</p>
      </md-list-item>
    </md-list>
  </md-sidenav>
  <md-content class="bg-200" flex md-scroll-y layout-fill>
    <!--Config sub views-->
    <ui-view layout="column" layout-fill layout-padding></ui-view>
  </md-content>
</div>