@import '../core/core.scss';

md-sidenav {
  md-toolbar {
    &.primary400 {
      @include primary400();
    }
  }
  md-list-item {
    ng-md-icon {
      padding-top: 10px;
      fill: white;
      transition: fill .8s ease;
    }
    p {
      transition: color .8s ease;
    }
    &.active {
      ng-md-icon {
        fill: $accent;
      }
      p {
        color: $accent;
      }
    }
  }
}