@import '../../core/core';

.md-icon-button {
  ng-md-icon {
      fill: white;
      transition: fill .8s ease;
    &.active {
      fill: $accent;
    }
    &:hover {
      fill: $accent;
    }
  }
}

md-toolbar {
  .md-toolbar-tools {
    h3 {
      cursor: pointer;
      margin-left: .5rem;
      font-weight: 300;
      span {
        margin-left: -0.2rem;
        color: $accent;
      }
    }
  }
}

.fill-accent {
  fill: $accent;
}