@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);

$primary500: #000;
$primary400: #121212;
$primary300: #1a1a1a;
$primary200: #1f1f1f;

$accent: #dea645;
$accentDark: #ff8f1f;
$accentDarker: #FF8A01;

@mixin primary400 {
  background-color: $primary400;
  color: $accent;
}

body {
  font-family: 'Roboto', sans-serif;
}

.bg-200 {
  background-color: $primary200;
}

.bg-300 {
  background-color: $primary300;
}

md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}

ng-md-icon {
  &.fill-white {
    fill: white;
  }
}

// For FontAwesome icon buttons
md-icon[md-font-icon] {
  height: auto;
}

.md-fab {
  ng-md-icon {
    position: relative;
    top: 7px;
  }
}

.thin {
  font-weight: 300;
}